.body
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px auto 0px auto;
    width: 1440px;
    height: auto;
}
                /*==first_screen==*/
.first_screen_background
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 60px;
    width: 1440px;
    min-height: 800px;
    background-image: url("../public/images/top-bar/backgrond.png");
}
.top_bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 1321px;
    min-height: 55px;
    margin-top: 21px;
}
.top_bar_information
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1132px;
    min-height: 55px;
}
.top_bar_text_container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 724px;
    min-height: 55px;
    margin-left: 50px;
}
.contacts
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 520px;
    min-height: 15px;
}
.navigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 724px;
    min-height: 15px;
}
.eat_meat_main
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 111px;
    max-width: 519px;
    min-height: 289px;
    margin-top: 169px;
}
.block_for_buttons_first_screen
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 374px;
    min-height: 48px;
    margin-top: 62px;
}
            /*==second_screen==*/
.container_second_screen
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 84px 0px 84px 0px;
    max-width: 1318px;
    min-height: 510px;
}
.place_for_slider
{
    position: relative;
    width: 648px;
    height: 510px;
}
.block_hero
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 536px;
    min-height: 400px;
    margin: 0px 0px 0px 134px;
}
.text_block_hero_with_line
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    max-width: max-content;
    text-align: left;
}
            /*==third screen==*/
.main_background_third_screen
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../public/images/go_to_menu/background_menu.png");
    width: 1380px;
    min-height: 656px;
    padding: 72px 0px 72px 60px;
}
.menu_h2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: max-content;
    min-height: min-content;
    margin: 0px 0px 32px 0px;
}
.text_block_third_screen
{
    display: flex;
    max-width: 454px;
    min-height: min-content;
    margin: 0px 0px 44px 0px;
}
.block_category
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 528px;
    min-height: 376px;
}
.block_action
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 1440px;
    height: 384px;
    margin: 0px 0px 75px 0px;
    background-image: url("../public/images/action/Background.png");
}
.super_action
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 382px;
    min-height: 240px;
    margin-bottom: 72px;
}
.icons_block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 1320px;
    min-height: min-content;
}
.container_icon_and_text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 200px;
    min-height: 182px;
}
.background_4_screen
{
    background-image: url("../public/images/poster/background.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1320px;
    min-height: 1248px;
    padding: 72px 60px 72px 60px;
    margin: 72px 0px 72px 0px;
}
.block_poster
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1320px;
    min-height: 645px;
}
.block_text_and_date
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1320px;
    min-height: min-content;
}
.text_lora_40_and_line
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 678px;
    min-height: min-content;
}
.buttons_date_poster
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 581px;
    min-height: min-content;
}
.poster_cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    width: 1320px;
    min-height: min-content;
    margin: 20px 0px 20px 0px
}
.card_poster
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
    border-radius: 6px;
    background-color: white;
}
.bottom_container_card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 350px;
    min-height: min-content;
    margin: 40px auto auto auto;
}
.block_button_cards
{
    margin: 24px 0px 24px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    min-height: min-content;
}
.block_galerey
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 1320px;
    min-height: min-content;
}
.block_text_galerey_and_line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    min-height: min-content;
}
.cards_galerey
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 1320px;
    min-height: min-content;
    margin: 40px 0px 0px 0px;
}
.current_card_galerey
{
    background-image: url("../public/images/poster/Rectangle_66.png");
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 608px;
    min-height: 400px;
    padding: 0px 0px 40px 40px;
}
.not_current_card_galerey
{
    background-image: url("../public/images/poster/Rectangle_68.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 312px;
    height: 440px;
}
.footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../public/images/basement/Background.png");
    width: 1320px;
    height: 504px;
    margin: 200px 0px 0px 0px;
    padding: 40px 60px 102px 60px;
}
.container_blocks_footer
{
    display: flex;
    flex-direction: row;
    width: min-content;
    height: min-content;
}
.contacts_footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 621px;
    min-height: min-content;
    margin: 0px 0px 40px 0px;
}
.block_text_footer
{
    display: flex;
    flex-direction: column;
    width: max-content;
    min-height: min-content;
    margin: 0px 99px 0px 0px;
}
.block_buttons_footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 432px;
    min-height: min-content;
    margin: 88px 0px 0px 0px;
}

            /*==main buttons==*/
.main_button_red
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: min-content;
    padding: 16px 24px 16px 24px;
    border: 0px;
    border-radius: 6px;
    background-color: #8A191D;
}
.main_button_red:hover
{
    background-color: #C44C4F;
}
.main_button_red:focus
{
    background-color: #68282A;
}
.main_button_red:active
{
    background-color: #5A080A;
}

.main_button_border_red
{
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    border: 1px solid #8A191D;
    background: none;
}
.main_button_border_red:hover
{
    border: 1px solid #C44C4F;
}
.main_button_border_red:focus
{
    background-color: #68282A;
}
.main_button_border_red:active
{
    background-color: #68282A;
}
.reserve_button_grey
{
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    border: 1px solid #B6B9B3;
    background-color: #B6B9B3;
}
.reserve_button_grey:hover
{
    background-color: limegreen;
}
.reserve_button_grey_focus
{
    background-color: darkgreen;
}
.main_button_red_disabled
{
    padding: 16px 24px 16px 24px;
    border-radius: 6px;
    background-color: #8A191D;
    pointer-events: none;
}
.disabled
{

    background-color: #B6B9B3;
    pointer-events: none;
}

            /*==main fonts==*/
@font-face
{
    font-family: "Lora-Medium";
    src: url("../public/fonts/Lora-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {

        font-family: "Lora-Bold";
        src: url("../public/fonts/Lora-Bold.ttf");
        font-style: normal;
        font-weight: bold;
}
@font-face {

        font-family: "FiraSans-Regular";
        src: url("../public/fonts/FiraSans-Regular.ttf");
        font-style: normal;
        font-weight: normal;
}
@font-face {

        font-family: "FiraSans-Light";
        src: url("../public/fonts/FiraSans-Light.ttf");
        font-style: normal;
        font-weight: normal;
}

.lora_medium_96_white
{
    font-family: Lora-Medium, sans-serif;
    font-size: 96px;
    color: white;
    margin: 0px;
}
.firaSans_regular_16_grey
{
    font-family: FiraSans-Regular, sans-serif;
    font-size: 16px;
    color: #B6B9B3;
    margin: 0px;
}
.firaSans_light_24_grey
{
    font-family: FiraSans-Light, sans-serif;
    font-size: 16px;
    color: #B6B9B3;
    margin: 0px;
}
.lora_medium_32_black
{
    font-family: Lora-Medium, sans-serif;
    font-size: 32px;
    color: black;
    margin: 0px;
}
.lora_blod_40_red
{
    font-family: Lora-Bold, sans-serif;
    font-size: 40px;
    color: #8A191D;
    margin: 0px;
}
.lora_medium_40_white
{
    font-family: Lora-Medium, sans-serif;
    font-size: 40px;
    color: white;
    margin: 0px;
}
.lora_medium_24_black
{
    font-family: Lora-Medium, sans-serif;
    font-size: 24px;
    color: black;
    margin: 0px;
}
.fade_out
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    animation-duration: 1000ms;
    animation-name: goodbye;
}
@keyframes goodbye {
    from
    {
        opacity: 100%;
        transform: translateX(0px);
    }
    to
    {
        opacity: 0%;
        transform: translateX(-20px);
    }
}
.fade_in
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    animation-name: hello;
    animation-duration: 1000ms;
}
@keyframes hello {
    from
    {
        opacity: 0;
        transform: translateX(20px);
        visibility: hidden;
    }
    to
    {
        opacity: 100%;
        transform: translateX(0px);
        visibility: visible;
    }
}
.none
{
    display: none;
}

/*knopki*/
.button_left
{
    position: absolute;
    left: 0;
    top: 56px;
    width: 116px;
    height: 304px;
    z-index: 1;
    background: none;
    border: none;
}
.button_right
{
    position: absolute;
    right: 0;
    top: 56px;
    width: 116px;
    height: 304px;
    z-index: 1;
    background: none;
    border: none;
}
.slider_front_position
{
    position: absolute;
    left: 110px;
    top: 0px;
    width: 416px;
    height: 510px;
    box-sizing: border-box;
    z-index: 1;
}
.front_picture
{
    position: absolute;
    left: 0;
    top: 0;
    width: 416px;
    height: 416px;
}
.front_picture_scale
{
    animation-name: front_picture_scale;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

}
@keyframes front_picture_scale {
        from
    {
        position: absolute;
        top: 0;
        left: 0;
            box-sizing: border-box;
    }
    to
    {
        position: absolute;
        top: -60px;
        left: -60px;
        transform: scale(0.72);
    }

}
.text_main_top
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
    height: 70px;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0px;
}
.front_text_fade_in
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
    height: 70px;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0px;
    animation-name: animation_fade_in;
    animation-duration: 250ms;
    animation-fill-mode: forwards;

}
.front_text_fade_out
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 416px;
    height: 70px;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0px;
    animation-name: animation_fade_out;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    z-index: 0;
}
.animation_front_slide_move_to_right
{
    animation-name: animation_front_slide_move_right;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.animation_front_slide_move_to_left
{
    animation-name: animation_front_slide_move_left;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes animation_front_slide_move_left {
    from
    {
        position: absolute;
        left: 110px;
        top: 0px;
        opacity: 100%;
        width: 416px;
        height: 510px;
        z-index: 1;
        box-sizing: border-box;
    }
    to
    {
        position: absolute;
        left: 1px;
        top: 56px;
        width: 304px;
        height: 304px;
        z-index: 0;
    }
}
@keyframes animation_front_slide_move_right {
    from
    {
        position: absolute;
        left: 110px;
        top: 0px;
        opacity: 100%;
        width: 416px;
        height: 510px;
        z-index: 1;
    }
    to
    {
        position: absolute;
        left: 343px;
        top: 56px;
        opacity: 100%;
        width: 304px;
        height: 304px;
        z-index: 0;
    }

}
.z_0
{
    position: absolute;
    left: 0px;
    top: 0px;
    width:  304px;
    height: 304px;
    z-index: 0;
}
.side_picture
{
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 304px;
    height: 304px;
    z-index: 0;
}
/*ТУТ ВСЕ ПРАВО*/
.slider_right_position
{
    position: absolute;
    right: 0px;
    top: 56px;
    opacity: 100%;
    width: 304px;
    height: 304px;
    z-index: 0;
}
.text_right
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    right: 8px;
    top: 67px;
    width: 107px;
    height: 90px;
    z-index: 1;
}
.text_right_animation_fade_out
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    right: 8px;
    top: 67px;
    width: 107px;
    height: 90px;
    animation-name: animation_fade_out;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.text_right_animation_fade_in
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    right: 8px;
    top: 67px;
    width: 107px;
    height: 90px;
    animation-name: animation_fade_in;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.animation_right_slide_move_to_left
{
    animation-name: animation_right_slide_move_left;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.animation_right_slide_move_to_center
{
    animation-name: animation_right_slide_move_center;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes animation_right_slide_move_center {
    from
    {
        position: absolute;
        left: 342px;
        top: 56px;
        opacity: 100%;
        width: 304px;
        height: 304px;
        z-index: 0;
    }
    to
    {
        position: absolute;
        left: 110px;
        top: 0px;
        opacity: 100%;
        width: 416px;
        height: 510px;
        z-index: 1;
    }
}
@keyframes animation_right_slide_move_left {
    from
    {
        position: absolute;
        right: 0px;
        top: 56px;
        opacity: 100%;
        width: 304px;
        height: 304px;
        z-index: 0;
    }
    to
    {
        position: absolute;
        right: 0px;
        top: 56px;
        opacity: 100%;
        width: 304px;
        height: 304px;
        z-index: 0;
        transform: translate(-342px, 0px);
    }
}
/*TUT LEVO text*/
.slider_left_position
{
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 56px;
    opacity: 100%;
    width: 304px;
    height: 304px;
    z-index: 0;
}
.text_left
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    left: 8px;
    top: 67px;
    width: 107px;
    height: 90px;
    z-index: 1;
}
.text_left_animation_fade_out
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    left: 8px;
    top: 67px;
    width: 107px;
    height: 90px;
    z-index: 1;
    animation-name: animation_fade_out;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.text_left_animation_fade_in
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    left: 8px;
    top: 67px;
    width: 107px;
    height: 90px;
    z-index: 1;
    animation-name: animation_fade_in;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.animation_left_slide_move_to_right
{
    animation-name: animation_left_slide_move_right;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.animation_left_slide_move_to_center
{
    animation-name: animation_left_slide_move_center;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes animation_left_slide_move_right {
    from
    {
        position: absolute;
        left: 8px;
        top: 56px;
        opacity: 100%;
        width: 304px;
        height: 304px;
        z-index: 0;
    }
    to
    {
        position: absolute;
        left: 342px;
        top: 56px;
        opacity: 100%;
        width: 304px;
        height: 304px;
        z-index: 0;
    }

}
@keyframes animation_left_slide_move_center {
    from
    {
        position: absolute;
        left: 0px;
        top: 56px;
        width: 304px;
        height: 304px;
        z-index: 0;
    }
    to
    {
        position: absolute;
        left: 110px;
        top: 0px;
        width: 416px;
        height: 510px;
        z-index: 1;
        box-sizing: border-box;
    }
}

.side_picture_scale_to_center
{
    animation-name: animation_side_picture_scale_to_center;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes animation_side_picture_scale_to_center {
    from
    {
        position: absolute;
        top: -56px;
        left: -60px;
        transform: scale(73%);
    }
    to
    {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(100%);
    }
}

/*TUT FADE IN FADE OUT*/
@keyframes animation_fade_out
{
    from
    {
        z-index: 2;
        opacity: 100%;
    }
    to
    {
        z-index: 2;
        opacity: 0%;
    }
}
@keyframes animation_fade_in {
        from
    {
        z-index: 2;
        opacity: 0%;
    }
    to
    {
        z-index: 2;
        opacity: 100%;
    }
}
.reserve_table_container
{
    position: relative;
    width: 880px;
    min-height: 686px;
    margin: 72px auto;
}
.head_of_reserve
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}
.stages
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    width: min-content;
    height: min-content;
    margin: 40px auto;
}
.adress_and_date
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 868px;
    min-height: 72px;
}
.time_selector_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    max-width: 872px;
    height: min-content;
    margin: 10px auto 40px auto;
}
.quantity_guests
{
    display: flex;
    width: 145px;
    height: 48px;
    flex-direction: row;
    border: 1px solid grey;
    background: none;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
}
.plus
{
    display: flex;
    width: 46px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-left: 1px solid grey;
}
.minus
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    width: 46px;
    height: 48px;
    border-right: 1px solid grey;
}
.block_quantity
{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    left: 0;
    bottom: 0;
}
.input_adress
{
    width: 312px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 8px;
    border: 3px solid grey;
    border-radius: 8px;
    background: none;
    margin-bottom: 10px;
    font-family: FiraSans-Regular, sans-serif;
    font-size: 16px;
    color: grey;
}
.input_date
{
    width: 312px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px 8px;
    border: 3px solid grey;
    border-radius: 8px;
    background: none;
    margin-bottom: 10px;
    font-family: FiraSans-Regular, sans-serif;
    font-size: 16px;
    color: grey;
}
.select_table
{
    position: relative;
    width: 100%;
    height: 512px;
}
.bottom_container_for_select_table
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px 0px 0px;
}
.table
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
}
.table:hover
{
    background-color: limegreen;
}
.table_selected
{
    background-color: darkgreen;
}
.table_disabled
{
    background-color: #8A191D;
    pointer-events: none;
}
.cap_2
{
    width: 40px;
    height: 40px;
}
.cap_4
{
    width: 60px;
    height: 60px;
}
.cap_5
{
    width: 40px;
    height: 80px;
}
.cap_6
{
    width: 40px;
    height: 80px;
}
.inactive_objects
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    pointer-events: none;
}
.zvuk
{
    width: 135px;
    height: 35px;
}
.bar
{
    width: 60px;
    height: 200px;
}
.scene
{
    width: 280px;
    height: 150px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.vhod_small
{
    width: 40px;
    height: 80px;
}
.rotate_text_45deg
{
    transform: rotate(-45deg);
}
.rotate_text_90deg
{
    transform: rotate(-90deg)
}

.container_stage_3
{
    min-width: min-content;
    min-height: 460px;
}
.input_left_column_stage_3
{
    width: 422px;
    height: 48px;
    margin-top: 8px;
    background: none;
    border: 1px solid grey;
    border-radius: 8px;
}
.flex_gap_for_stage_3
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.information_block
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 28px;
}
.buttons_stage_3
{
    width: 236px;
    height: 18px;
}
.animated_to_red
{
    animation-name: red_fade_in;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
.animated_to_green
{
    animation-name: green_fade_in;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}

@keyframes red_fade_in {
    from {
        background-color: green;
    }
    to {
        background-color: #8A191D;
    }
}
@keyframes green_fade_in {
    from
    {
        background-color: #8A191D;
    }
    to
    {
        background-color: green;
    }
}
.background_green
{
        background-color: green;
}
.animated_to_grey
{
    animation-name: to_grey_fade_in;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
.animated_from_grey
{
    animation-name: from_grey_fade_in;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
}
@keyframes to_grey_fade_in {
    from {
        background-color: #8A191D;
    }
    to {
    background-color: #B6B9B3;
    }
}
@keyframes from_grey_fade_in {
from   {
    background-color: #B6B9B3;

}
    to{
        background-color: #8A191D;

    }
}
